doctype html
html
  head
    title !{ PrismicDOM.RichText.asText(document.title) }
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='/stylesheets/reset.css')
    link(href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet")
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="https://kit.fontawesome.com/4abcda4b69.js" crossorigin="anonymous")
  body
    .container
      block content
