white = #ffffff
black = #000000
teal = #008080
red = #dc143c
blue = #7289da
nodejs = #689F63
linkedin = #0077B5

*
  box-sizing border-box

body
  background-color white
  font-family 'Lato', sans-serif
  font-weight 300
  padding 40px 20px

h1,h2,h3,h4,h5,h6
  font-weight 400
  line-height 150%

h1
  font-size 28px
  font-weight 600

h2
  font-size 26px

h3
  font-size 24px

h4
  font-size 22px

h5
  font-size 20px

h6
  font-size 18px

a
  color black

p
  font-size 20px
  line-height 1.5

strong 
  font-weight 400

.container
  margin 0 auto
  max-width 960px
  width 100%

header
  margin-bottom 100px
  overflow hidden
  h1
    float left
    i 
      color teal
      position relative
      top -4px
  nav 
    ul
      display flex
      float right 
      justify-content space-between
      margin-top 8px
      li
        margin-left 10px
        i 
          font-size 20px
        .fa-linkedin-in
          color black

footer 
  margin-top 40px
  .built
    float right
  .fa-code
    color blue
  .fa-heart
    color red
  .fa-node-js
   color nodejs

.introduction
  margin-bottom 100px
  p
    font-size 24px

ul.projects
  display flex
  flex-wrap wrap
  justify-content space-between
  margin-bottom 100px
  li.project
    background-color whitesmoke
    background-position 50%
    background-repeat no-repeat
    background-size cover
    -webkit-background-size cover
    -moz-background-size cover
    -o-background-size cover
    height 150px
    margin-bottom 20px
    text-align center
    width 100%
    @media screen and (min-width: 420px)
      width 49%
    @media screen and (min-width: 768px)
      width 32%
    .project-overlay
      background rgba(0,0,0,.7)
      color #eee
      display none
      height 150px
      letter-spacing 1px
      padding-top 50px
      text-decoration none
    &:hover, &:active
      .project-overlay
        display block
      
    img 
      width 100%